$active-background-color: #656263;
$background-color: #D3D2D2;

.in-content-menu {
    display: flex;
    flex-flow: wrap;
    margin-top: 8px;
    margin-right: -16px;
    margin-bottom: 16px;
    margin-left: 0;
}

.in-content-nav-btn {
    border-radius: 5px;
    background-color: $background-color;
    border-style: none;
    color: #252C31;

    margin: 0;
    margin-right: 8px;
    margin-top: 8px;

    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2em;

    &:hover, &:focus, &.active {
        background-color: $active-background-color;
    }

    &.active {
        color: #FFF;
    }
}
